html {
    box-sizing: border-box;
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    font-family: var(--ff-subtext);
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.skills li{
    font-size: 2em;
}

.skill-set:hover li{
    font-size: large;
}
