:root {
    --clr-primary: #222831;
    --clr-secondary: #DDDD;
    --clr--accent-1: #112B3C;
    --clr-accent-2: #3e5d7c;
    --ff-title: 'Kdam Thmor Pro', sans-serif;
    --ff-subtext: 'Roboto Mono', monospace;
    --ff-img-text: 'Mukta', sans-serif;
    ;
}

html {
    box-sizing: border-box;
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    font-family: var(--ff-subtext);
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/*-----------------NAVIGATION----------*/

.myLogo {
    margin: 0;
    padding: 0;
    align-self: center;
}

.nav {
    position: fixed;
    height: 100vh;
    background-color: var(--clr--accent-1);
    width: 80px;

}

.nav_list {
    position: relative;
    top: 30%;
    display: grid;
    gap: 2rem;
    align-self: center;
    list-style: none;
    text-align: center;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--clr-accent-2)
}

/*-------BODY-------------*/
.main_body {
    position: relative;
    width: auto;
    margin: 0 0 0 90px;
}

/*---------HOME----------*/
.home {
    display: flex;
    position: relative;
    height: 100vh;
}

.moretext {
    display: flex;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 60em;


}

.moretext p {
    user-select: none;
    background: url(samuel.png);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: x-small;
}


.text-holder {
    position: relative;
    top: 35%;
    left: 5%;
    width: 40em;
}

.text-holder h1 {
    font-family: var(--ff-title);
    font-size: 5em;
}

.text-holder h2 {
    color: white;
    font-family: var(--ff-subtext);
    font-size: 1.5em;
}

.text-holder p {
    color: var(--clr-secondary);
    margin-top: 3rem;
    font-family: var(--ff-subtext);
}


/*---------ABOUT ME-------------*/
.about_me{
    height: 100vh;
    position: relative;
}

.skill-set{
    position: relative;
    width: 45em;
    height: 45em;
    background-color: black;
    left: 55%;
    bottom: 12em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.skill-set p{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
}

.skill-set:hover :nth-child(1){
    top: 0;
    animation: firstChild 10s ease-in infinite;
}

@keyframes firstChild { 
    0%{
        transform: rotate3d(1, 1, 1, 180deg);
        transform: translate(20em);
        
    }
    25%{
        transform: rotate3d(1, 1, 2, 90deg);
        
    }
    50%{
        transform: rotate3d(1, 2, 1, 360deg);
        
    }
    75%{
        transform: rotate3d(2, 1, 1, 45deg);
        transform: rotate(75deg);
    }
    100%{
        transform: rotate3d(2, 2, 1, 180deg);
        
    }
    
}
/*-.skill-set:hover :nth-child(2){
    bottom: 0;
}
.skill-set:hover :nth-child(3){
    
}
.skill-set:hover :nth-child(4){
    left: 0;
}
.skill-set:hover :nth-child(5){
    right: 0;
}*/