@import url(design.css);


.about_me {
    height: 100vh;
    position: relative;
}

.skill-set {
    position: relative;
    width: 45em;
    height: 45em;
    background-color: var(--clr-primary);
    left: 55%;
    bottom: 12em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.skill-set p {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    user-select: none;
}

.skill-set :nth-child(1) {
    top: 0;
    animation: firstChild 20s linear infinite;
}

@keyframes firstChild {
    0% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 0deg);
        top: 0%;
        font-size: 1.5em;

    }

    10% {
        position: absolute;
        transform: rotate3d(1, 1, 1, -45deg);
        top: 25%;
        font-size: 2.5em;
    }

    20% {
        position: absolute;
        transform: rotate3d(2, 1, 1, 60deg);
        top: 50%;
        font-size: 3em;


    }

    30% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 75%;
        font-size: 2.5em;

    }

    40% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 360deg);
        top: 95%;
        font-size: 1.5em;

    }

    50% {
        position: absolute;
        transform: rotate3d(1, 1, 2, 20deg);
        top: 75%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    60% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 50%;
        font-size: 1em;
        opacity: 0.6;

    }

    70% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 360deg);
        top: 25%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    100% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 0deg);
        top: 0%;
        font-size: 1.5em;

    }
}

.skill-set :nth-child(2) {
    position: relative;
    bottom: 0;
    left: 0;
    animation: secondChild 20s linear infinite;
}

@keyframes secondChild {
    0% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 0deg);
        top: 50%;
        left: 0%;
        font-size: 1.5em;

    }

    10% {
        position: absolute;
        transform: rotate3d(1, 1, 1, -45deg);
        top: 50%;
        left: 25%;
        font-size: 2.5em;
    }

    20% {
        position: absolute;
        transform: rotate3d(2, 1, 1, 60deg);
        top: 50%;
        left: 50%;
        font-size: 3em;


    }

    30% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 50%;
        left: 75%;
        font-size: 2.5em;

    }

    40% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 360deg);
        top: 50%;
        left: 95%;
        font-size: 1.5em;

    }

    50% {
        position: absolute;
        transform: rotate3d(1, 1, 2, 20deg);
        top: 50%;
        left: 75%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    60% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 50%;
        left: 50%;
        font-size: 1em;
        opacity: 0.6;

    }

    70% {
        position: absolute;
        transform: rotate3d(1, 0, 1, 360deg);
        top: 40%;
        left: 25%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    100% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 0deg);
        top: 50%;
        left: 0%;
        font-size: 1.5em;

    }
}


.skill-set :nth-child(3) {
    position: relative;
    top: 45em;
    left: 25em;
    animation: thirdChild 20s linear infinite;

}

@keyframes thirdChild {
    0% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 0deg);
        top: 20%;
        left: 30%;
        font-size: 1.5em;

    }

    10% {
        position: absolute;
        transform: rotate3d(1, 1, 1, -45deg);
        top: 60%;
        left: 75%;
        font-size: 2.5em;
    }

    20% {
        position: absolute;
        transform: rotate3d(2, 1, 1, 60deg);
        top: 50%;
        left: 50%;
        font-size: 3em;


    }

    30% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 0%;
        left: 45%;
        font-size: 2.5em;

    }

    40% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 360deg);
        top: 60%;
        left: 15%;
        font-size: 1.5em;

    }

    50% {
        position: absolute;
        transform: rotate3d(1, 1, 2, 20deg);
        top: 70%;
        left: 15%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    60% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 50%;
        left: 50%;
        font-size: 1em;
        opacity: 0.6;

    }

    70% {
        position: absolute;
        transform: rotate3d(1, 0, 1, 360deg);
        top: 80%;
        left: 75%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    100% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 0deg);
        top: 20%;
        left: 30%;
        font-size: 1.5em;
    }
}


.skill-set :nth-child(4) {
    position: relative;
    top: 67em;
    left: 40em;
    animation: fourthChild 20s linear infinite;
}

@keyframes fourthChild {
    0% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 0deg);
        top: 80%;
        left: 50%;
        font-size: 1.5em;

    }

    10% {
        position: absolute;
        transform: rotate3d(1, 1, 1, -45deg);
        top: 30%;
        left: 45%;
        font-size: 2.5em;
    }

    20% {
        position: absolute;
        transform: rotate3d(2, 1, 1, 60deg);
        top: 80%;
        left: 50%;
        font-size: 3em;


    }

    30% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 10%;
        left: 75%;
        font-size: 2.5em;

    }

    40% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 360deg);
        top: 60%;
        left: 15%;
        font-size: 1.5em;

    }

    50% {
        position: absolute;
        transform: rotate3d(1, 1, 2, 20deg);
        top: 80%;
        left: 25%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    60% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 50%;
        left: 8%;
        font-size: 1em;
        opacity: 0.6;

    }

    70% {
        position: absolute;
        transform: rotate3d(1, 0, 1, 78deg);
        top: 0%;
        left: 15%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    100% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 110deg);
        top: 80%;
        left: 50%;
        font-size: 1.5em;
    }
}



.skill-set :nth-child(5) {
    position: relative;
    top: 1em;
    left: 34em;
    animation: fifthChild 20s linear infinite;
}

@keyframes fifthChild {
    0% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 0deg);
        top: 30%;
        left: 80%;
        font-size: 1.5em;

    }

    10% {
        position: absolute;
        transform: rotate3d(1, 1, 1, -45deg);
        top: 90%;
        left: 45%;
        font-size: 2.5em;
    }

    20% {
        position: absolute;
        transform: rotate3d(2, 1, 1, 60deg);
        top: 40%;
        left: 90%;
        font-size: 3em;


    }

    30% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 50%;
        left: 15%;
        font-size: 2.5em;

    }

    40% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 360deg);
        top: 20%;
        left: 85%;
        font-size: 1.5em;

    }

    50% {
        position: absolute;
        transform: rotate3d(1, 1, 2, 20deg);
        top: 50%;
        left: 95%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    60% {
        position: absolute;
        transform: rotate3d(1, 2, 1, 90deg);
        top: 20%;
        left: 78%;
        font-size: 1em;
        opacity: 0.6;

    }

    70% {
        position: absolute;
        transform: rotate3d(1, 0, 1, 78deg);
        top: 10%;
        left: 95%;
        font-size: 1.5em;
        opacity: 0.7;
    }

    100% {
        position: absolute;
        transform: rotate3d(1, 1, 1, 110deg);
        top: 30%;
        left: 80%;
        font-size: 1.5em;
    }
}

.skill-set :last-child {
    user-select: none;
    font-size: 10em;
    font-family: var(--ff-title);
    opacity: 0.05;

}