@import url(design.css);

.home {
    display: flex;
    position: relative;
    
}

.moretext {
    display: flex;
    position: absolute;
    left: 50%;
    width: 40em;
    height: 48.07em;
    overflow: hidden;
}

.moretext p {
    user-select: none;
    background: url(samuel.png);
    filter: contrast(1000%);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 0.5em;
    margin-left: 10em;
}


.text-holder {
    position: relative;
    top: 35%;
    left: 5%;
    width: 40em;
    
}

.text-holder h1 {
    font-family: var(--ff-title);
    font-size: 5em;

}

.typing{
    color: var(--clr-primary);
    font-weight: lighter;
    margin: 0.125em;
    user-select: none;
    animation: typing 0.5s linear infinite;
}

@keyframes typing{
    0%{
        color: transparent;
    }
    50%{
        color: var(--clr-secondary);
    }
    100%{
        color: transparent;
    }
}


.text-holder h2 {
    color: white;
    font-family: var(--ff-subtext);
    font-size: 1.5em;
}

.text-holder p {
    color: var(--clr-secondary);
    margin-top: 3rem;
    font-family: var(--ff-subtext);
}

.animatedDiv{
    position: absolute;
    width: 45em;
    height: 45em;
    border: 3px solid var(--clr-secondary);
    left: 35em;
}

.firstAnimatedDiv{
    width: 45em;
    height: 100%;
    border: 3px solid green;
    left: 35em;
    border-radius: 50%;
    
}

.secondAnimatedDiv{
    transform: translateY(-45em);
    bottom: 45em;
    width: 45em;
    height: 100%;
    border: 3px solid green;
    left: 35em;
    border-radius: 50%;
    
}