@import url(design.css);


.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects h1{
    font-size: 5em;
    font-weight: bold;
}